/*-----------------
	The Body
------------------*/

* {
	margin:0;
	padding:0;
}

body{
	font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3{
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}
